@model MarketX.ViewModels.ResultsWithSearchModel

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/AdvertisementCard.css")" />
}

<vc:search show-detailed-search="false"></vc:search>

<div class="row pt-3">
    <div class="col-4 pl-2">
        @await Component.InvokeAsync("Filter", Model.SearchModel)
    </div>

    <div class="col-8 border border-dark">
        <partial name="_ResultList" model="Model" />
    </div>
</div>