@model MarketX.ViewModels.SearchModelWithMetadata

    <form class="border border-dark" asp-action="Results" asp-controller="Home" method="get">
        <div class="form-row pt-2 pl-4">
            <label class="font-weight-bold">Név:</label>
        </div>
        <div class="form-row pl-4 pb-3">
            <input class="form-control mr-4" type="text" asp-for="Name" id="name" />
        </div>
        <div class="form-row pl-4 pt-3">
            <label class="font-weight-bold">Hirdetés típusa:</label>
        </div>
        <div class="form-row pt-1 pl-4 ml-1 pb-3">
            <div class="col-6 pl-3 custom-control custom-radio">
                <input asp-for="IsBuying" value="false" class="custom-control-input" id="sellingRadioDetailed" type="radio" />
                <label class="custom-control-label" for="sellingRadioDetailed">Kínál</label>
            </div>
            <div class="col-6 custom-control custom-radio">
                <input asp-for="IsBuying" value="true" class="custom-control-input" id="buyingRadioDetailed" type="radio" />
                <label class="custom-control-label" for="buyingRadioDetailed">Keres</label>
            </div>
        </div>
        <div class="form-row pl-4 pt-3">
            <label class="font-weight-bold col-2">Ár:</label>
        </div>
        <div class="form-row pl-4 form-group form-inline">
            <input asp-for="FromPrice" id="priceFrom" type="number" class="form-control col-9" min="0" />
            <label class="pr-2 font-weight-bold col-3" for="priceFrom">Ft-tól</label>
        </div>
        <div class="form-row form-group form-inline pl-4">
            <input asp-for="ToPrice" id="priceTo" type="number" class="form-control col-9" min="0" />
            <label class="pr-2 font-weight-bold col-3" for="priceFrom">Ft-ig</label>
        </div>
        <div class="form-row pt-3 pl-4">
            <label class="font-weight-bold col-2">Hely:</label>
        </div>
        <div class="form-row pb-3 pr-2 pl-4">
            <vc:city-county-select is-required="false" city-id="null"></vc:city-county-select>
        </div>
        <div class="form-row pl-4 pt-3">
            <label class="font-weight-bold">Kategória:</label>
        </div>
        <input type="hidden" asp-for="CategoryId" id="chosenCategory" />
        <div class="form-row ml-2 pl-4 mb-2">
            <div id="treeview">
                <vc:category-tree chosen-category-id="@Model.CategoryId" is-required="false" is-editable="false"></vc:category-tree>
            </div>
        </div>
        <div id="properties" class="pr-3">
            <partial name="_Properties" model="@new MarketX.ViewModels.PropertyInputList {PropertyInputs = Model.PropertyInputs }" />
        </div>
        <div class="form-row pl-4 mt-3">
             <label class="font-weight-bold">Állapot:</label>
        </div>
        <div class="form-row pl-4 ml-1 pb-3">
            <div class="col-6 pl-3 custom-control custom-checkbox">
                <input asp-for="IsNew" checked type="checkbox" id="newCheck" class="custom-control-input">
                <label class="custom-control-label" for="newCheck">Új</label>
            </div>
            <div class="col-6 custom-control custom-checkbox">
                <input asp-for="IsUsed" checked type="checkbox" id="oldCheck" class="custom-control-input">
                <label class="custom-control-label" for="oldCheck">Használt</label>
            </div>
        </div>
        <div class="form-row pt-3 pl-4">
            <label class="font-weight-bold">Adott eladó:</label>
        </div>
        <div class="form-row pl-4 pb-3">
            <input class="form-control mr-4" asp-for="UserName" type="text" />
        </div>
        <div class="form-row pt-3 pl-4 pb-3">
            <div class="custom-control custom-checkbox">
                <input asp-for="IsWithPhoto" type="checkbox" id="onlyPhotoCheck" class="custom-control-input">
                <label class="custom-control-label" for="onlyPhotoCheck">Csak fényképes hirdetések</label>
            </div>
        </div>
        <div class="form-row pl-3 py-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Szűrés</button>
        </div>
    </form>