@model List<MarketX.ViewModels.ResultAdvertisementCard>

@foreach (var advertisement in Model)
{
    <div class="row" id="ad-@advertisement.ID">
        <div class="col-12">
            <partial name="_EditableResultAdvertisementCard" model="advertisement" />
        </div>
    </div>
}