@model MarketX.BLL.DTOs.LoginUser

<h1>Belépés</h1>

<form asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="col-2 font-weight-bold d-flex flex-column justify-content-center">
            <label asp-for="Email"></label>
        </div>
        <div class="col-4">
            <input id="Email" asp-for="Email" class="form-control" type="text" />
        </div>
    </div>
    <div class="form-row pt-2">
        <div class="col-2 font-weight-bold d-flex flex-column justify-content-center">
            <label asp-for="Password"></label>
        </div>
        <div class="col-4">
            <input id="Password" asp-for="Password" class="form-control" type="password" />
        </div>
    </div>
    <div class="form-row pt-2 pb-2 pl-1">
        <div class="pl-4 custom-control custom-checkbox">
            <input asp-for="RememberMe" class="custom-control-input" type="checkbox" id="RememberMe" />
            <label class="custom-control-label" asp-for="RememberMe"></label>
        </div>
    </div>
    <input class="btn btn-success" type="submit" />
</form>