@model MarketX.BLL.DTOs.PropertyValue

    <div class="row pr-3 pl-4 py-1">
        <input class="col-10 form-control" type="text" asp-for="Value" />
        <div class="col-2 d-flex flex-column justify-content-center">
            <i class="fas fa-times"></i>
        </div>
    </div>