<h1>Admin Panel</h1>

<div class="row mt-5">
     <div class="col-6">
         <a asp-controller="Admin" asp-action="EditCategories">Kategóriák és tulajdonságok kezelése</a>
     </div>
    <div class="col-6">
        <a asp-controller="Admin" asp-action="NewAdvertisements">Beérkezett új hirdetések</a>
    </div>
</div>