.transparent-label{
    background-color: rgba(52, 58, 64, 0.7);
    color: white;
}
.card h2{
    font-size: 18px;
}
.corner-ribbon-green{
    background: green;
    position: absolute;
    text-align: center;
    color: #f0f0f0;
    transform: rotate(45deg);
}

.corner-ribbon-red {
    background: red;
    position: absolute;
    text-align: center;
    color: #f0f0f0;
    transform: rotate(45deg);
}

img.card-img {
    max-height: 145px;
    width: auto;
    height: auto;
    margin: auto;
    max-width: 100%;
}