@model MarketX.ViewModels.AdvertisementForm

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/adForm.css")" />
}

<h1>Hirdetésfeladás</h1>
<form enctype="multipart/form-data" asp-controller="Advertisement" asp-action="CreateAdvertisement" method="post">
    <partial name="_AdvertisementFormContent" model="Model" />
</form>

@section Scripts{
    <script src="~/js/adImageSelect.js"></script>
}